/* src/styles/Home.css */

/* Estilos gerais */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o conteúdo ocupe a altura da tela */
}

/* Cabeçalho */
.header {
  /* Estilos para o cabeçalho */
}

.logo {
  width: 100%;
  background-color: lightblue;
  display: flex;
}

.logo img {
  width: 10%;
  background-color: white;
  margin-left: 20%;
}

/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Banner */
.banner {
  width: 100%; /* Ocupa toda a largura da tela */
}

.banner img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
}

/* Seção de conteúdo */
.content {
  display: flex;
  background-color: lightblue;
  padding: 20px;
  gap: 20px;
  margin: 0 20px; /* Adiciona margem lateral */
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.slideshow img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  background-color: white;
  padding: 10px;
}

.text {
  width: 50%;
  color: black; /* Cor normal do texto */
}

.text h1 {
  color: #2555ab;
  font-size: 1.5em;
}

.text p {
  margin-top: 10px;
  line-height: 1.6;
}

/* Próximos passos */
.next-steps-content {
  display: flex;
  background-color: white;
  padding: 20px;
  gap: 20px;
  margin: 0 20px; /* Adiciona margem nas laterais */
}

.next-steps-content .text {
  width: 50%;
}

.next-steps-content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.next-steps-content .image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  background-color: white;
  padding: 10px;
}

.next-steps-content .text h1 {
  color: #2555ab;
  font-size: 1.5em;
}

.next-steps-content .text p {
  margin-top: 10px;
  line-height: 1.6;
}

/* Seção da imagem centralizada */
.center-image-section {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.center-image img {
  max-width: 100%;
  border-radius: 10px;
}

/* Rodapé */
.footer {
  background-color: #1c32bb; /* Cor de fundo azul */
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
}

.footer img {
  width: 20%;
  background-color: white;
  margin-right: 20%;
}
